@import "../base.css";

$base-size: 50px;

.root {
  height: 100%;
  width: 100%;

  position: relative;

  background-image: url('./bg.png');
  background-size: cover;
}

.game {
  position: relative;

  height: 3 * $base-size;
  width: 3 * $base-size;

  left: 50%;
  top: 50%;

  margin-left: -3/2 * $base-size;
  margin-top: -3/2 * $base-size;
}

.crystal {
  height: 100%;
  width: 100%;

  background-image: url("./crystal/rock-state1.png");
  background-size: 3 * $base-size;
  background-repeat: no-repeat;

  &.clicked-1 {
    background-image: url("./crystal/rock-state2.png");
  }
  &.clicked-2 {
    background-image: url("./crystal/rock-state3.png");
  }
  &.clicked-3 {
    background-image: url("./crystal/rock-state4.png");
  }
}

.top-left,
.top-right,
.bottom-right,
.bottom-left,
.center {
  position: absolute;

  width: $base-size;
  height: $base-size;

  background-color: blue;

  cursor: pointer;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.center {
  top: 50%;
  left: 50%;

  margin-left: -$base-size/2;
  margin-top: -$base-size/2;
}

.clicked {
  background-color: red;
}
