@import "../base.css";

$rock-size: 401px;
$box-size: 306px;
$button-size: 101px;
$corner-size: $box-size/2;
$corner-spot-size: 37px;
$corner-offset: 60px;
$center-size: 109px;
$seed-size: 26px;
$seed-offset: 30px;

$item-size: 30px;

$flower-size: 226px;
$jinn-height: 122px;
$jinn-width: 186px;
$lense-size: 103px;
$center-glyph-size: 93px;

$box-color: #97416F;
$seed-color: #F5FBA4;

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
}

.root {
  height: 100%;
  width: 100%;

  position: relative;

  background-image: url('./bg.png');
  background-size: cover;
}

.rock,
.box,
.glow,
.gliph {
  position: absolute;

  left: 50%;
  top: 50%;
}

.rock,
.crack {
  position: absolute;

  height: $rock-size;
  width: $rock-size;
}

.rock {
  margin-left: - $rock-size/2;
  margin-top: - $rock-size/2;

  background-image: url("./rock/sprite.png");
  background-repeat: no-repeat;
  background-size: 4 * $rock-size;

  &.clicked-1 {
    background-position-x: -$rock-size;
  }
  &.clicked-2 {
    background-position-x: -2 * $rock-size;
  }
  &.clicked-3 {
    background-position-x: -3 * $rock-size;
  }
}

.crack {
  left: 0;
  top: 0;

  background-size: $rock-size;
}

.box,
.gliph,
.glow {
  height: $box-size;
  width: $box-size;

  margin-left: - $box-size/2;
  margin-top: - $box-size/2;
}

.box.compact {
  background-image: url("./box/base.png");
  background-repeat: no-repeat;
  background-size: $box-size;

  overflow: hidden;
}

.glow {
  background-repeat: no-repeat;
  background-size: $box-size;

  left: -1000px;
  top: -1000px;
}

.gliph {
  background-image: url("./box/gliph.png");
  background-repeat: no-repeat;
  background-size: $box-size;
}

.center-glyph {
  position: absolute;

  height: $center-glyph-size;
  width: $center-glyph-size;

  left: 50%;
  top: 50%;

  margin-left: -$center-glyph-size/2;
  margin-top: -$center-glyph-size/2;

  > div {
    position: absolute;
    left: 0;
    top: 0;

    background-repeat: no-repeat;
    background-position: left top;
    background-size: $center-glyph-size;

    transition: all 1s ease-out;

    &.step-0 {
      height: 0;
      width: 100%;
    }

    &.step-1 {
      height: 0;
      width: 100%;
    }

    &.step-2 {
      height: 100%;
      width: 0;

      left: auto;
      top: auto;
      right: 0;
      bottom: 0;

      background-position: right bottom;
    }

    &.step-3 {
      height: 0;
      width: 100%;

      top: auto;
      bottom: 0;

      background-position: left bottom;
    }

    &.step-4 {
      height: 0;
      width: 0;
    }

    &.visible {
      height: 100%;
      width: 100%;
    }
  }
}

.center {
  position: absolute;

  height: $button-size;
  width: $button-size;

  top: 50%;
  left: 50%;

  margin-left: -$button-size/2;
  margin-top: -$button-size/2;
  outline: none;

  background-size: $button-size;

  &:active {
    background-image: url("./box/button-pressed.png");
  }

  &.separate {
    background-image: url("./box/center.png");
  }
}

.corner-spot {
  position: absolute;

  height: $corner-spot-size;
  width: $corner-spot-size;

  border-radius: 100%;

  outline: none;

  background-position: center;
  background-size: $corner-spot-size;

  &.top-right {
    right: 26px;
    top: 26px;
  }

  &.top-left {
    left: 26px;
    top: 26px;
  }

  &.bottom-right {
    right: 26px;
    bottom: 26px;
  }

  &.bottom-left {
    left: 26px;
    bottom: 26px;
  }

  &.clickable {
    background-image: url("./box/corner-spot-dormant.png");
  }

  &.clicked {

    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -55px;
      margin-left: -55px;

      display: block;
      width: 110px;
      height: 110px;

      background-image: url("./box/corner-spot-active.png");
      background-size: cover;
    }
  }
}

.corner {
  position: absolute;

  height: $corner-size;
  width: $corner-size;

  background-image: url("./box/corner.png");
  background-size: $corner-size;
  background-repeat: no-repeat;

  transition: all 1s ease-out;

  .hatch {
    right: 26px;
    bottom: 26px;

    &.clicked {
      background-image: url("./box/hatch-grow.png");
    }
  }

  &.top-right {
    right: 0;
    top: 0;

    transform: rotate(270deg);

    &.opened {
      transform: translate3d($corner-offset, -$corner-offset, 0) rotate(270deg);
    }
  }

  &.top-left {
    left: 0;
    top: 0;

    transform: rotate(180deg);

    &.opened {
      transform: translate3d(-$corner-offset, -$corner-offset, 0) rotate(180deg);
    }
  }

  &.bottom-right {
    right: 0;
    bottom: 0;

    &.opened {
      transform: translate3d($corner-offset, $corner-offset, 0);
    }
  }

  &.bottom-left {
    left: 0;
    bottom: 0;

    transform: rotate(90deg);

    &.opened {
      transform: translate3d(-$corner-offset, $corner-offset, 0) rotate(90deg);
    }
  }
}

.hatch {
  position: absolute;

  height: $corner-spot-size;
  width: $corner-spot-size;
  background-size: $corner-spot-size;

  background-image: url("./box/hatch.png");

  &.clicked {
    background-color: blue;
  }
}



$seed-min: 32px;
$seed-middle: ($box-size - $seed-size)/2;
$seed-max: $box-size - $seed-min - $seed-size;

$seed-opened-min: -($corner-offset + $seed-size + $seed-offset);
$seed-opened-max: $box-size + ($corner-offset + $seed-offset);

.seed {
  position: absolute;

  height: $seed-size;
  width: $seed-size;

  border: 1px solid black;
  background-color: $box-color;

  transition: all 1s ease-out;

  top: 0;
  left: 0;

  &.clicked {
    display: none;
  }

  &.top {
    transform: translate3d($seed-middle, $seed-min, 0);

    &.opened {
      transform: translate3d($seed-middle, $seed-opened-min, 0);
    }

    &.moving {
      transform: translate3d($seed-opened-max, $seed-opened-min, 0);
    }
  }

  &.bottom {
    transform: translate3d($seed-middle, $seed-max, 0);

    &.opened {
      transform: translate3d($seed-middle, $seed-opened-max, 0);
    }

    &.moving {
      transform: translate3d($seed-opened-min, $seed-opened-max, 0);
    }
  }

  &.left {
    transform: translate3d($seed-min, $seed-middle, 0);

    &.opened {
      transform: translate3d($seed-opened-min, $seed-middle, 0);
    }

    &.moving {
      transform: translate3d($seed-opened-min, $seed-opened-min, 0);
    }
  }

  &.right {
    transform: translate3d($seed-max, $seed-middle, 0);

    &.opened {
      transform: translate3d($seed-opened-max, $seed-middle, 0);
    }

    &.moving {
      transform: translate3d($seed-opened-max, $seed-opened-max, 0);
    }
  }

  &.opened {
    background-color: $seed-color;
  }

  &.moving {
    transition: all 2s ease-out;
  }
}

.inventory {
  position: absolute;

  bottom: 30px;
  left: 50%;
  margin-left: - $box-size/2;

  width: $box-size;

  display: flex;

  > * {
    height: $item-size;
    width: $item-size;
  }
}

.plant {
  height: 100%;
  width: 100%;

  background-image: url("./plant/plant.png");
}

.flower {
  height: $flower-size;
  width: $flower-size;

  background-image: url("./plant/flower.png");
  background-repeat: no-repeat;
}

.jinn {
  height: $jinn-height;
  width: $jinn-width;

  background-repeat: no-repeat;

  position: absolute;
  top: -$jinn-height;
  left: 50%;
  margin-left: -$jinn-width/2;
}

.dialog-speech {
  position: absolute;

  color: white;
  width: 600px;

  top: 50px;
  left: 50%;
  margin-left: -300px;

  font-size: 20px;
  line-height: 30px;
}

.dialog-options {
  position: absolute;

  color: white;
  font-size: 20px;

  width: 600px;

  bottom: 50px;
  left: 50%;
  margin-left: -300px;

  cursor: pointer;

  > div {
    margin-bottom: 10px;

    &:hover {
      color: #c98002;
    }
  }
}

.lense {
  position: absolute;

  height: $lense-size;
  width: $lense-size;

  top: 50%;
  left: 50%;

  margin-left: -$lense-size/2;
  margin-top: -$lense-size/2;

  background-image: url('./lense/lense.png');
  background-repeat: no-repeat;
  background-size: $lense-size;

  &.big {
    height: 2 * $lense-size;
    width: 2 * $lense-size;

    margin-left: -$lense-size;
    margin-top: -$lense-size;

    background-size: 2 * $lense-size;
  }
}
