@import "../base.css";

$rock-height: 583px;
$rock-width: 640px;
$box-size: 433px;
$button-size: 151px;
$corner-size: 215px;
$corner-spot-size: 56px;
$seed-size: 39px;
$item-size: 30px;

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
}

.root {
  height: 100%;
  width: 100%;

  position: relative;

  background-image: url('./bg.png');
  background-size: cover;
}

.rock,
.box,
.box-placeholder,
.glow,
.gliph {
  position: absolute;

  left: 50%;
  top: 50%;
}

.rock {
  height: $rock-height;
  width: $rock-width;

  margin-left: - $rock-width/2;
  margin-top: - $rock-height/2;

  background-image: url("./rock/rock-state1.png");
  background-repeat: no-repeat;

  &.clicked-1 {
    background-image: url("./rock/rock-state2.png");
  }
  &.clicked-2 {
    background-image: url("./rock/rock-state3.png");
  }
  &.clicked-3 {
    background-image: url("./rock/rock-state4.png");
  }
}

.box-placeholder,
.box,
.gliph,
.glow {
  height: $box-size;
  width: $box-size;

  margin-left: - $box-size/2;
  margin-top: - $box-size/2;
}

.box {
  background-image: url("./box/base.png");
  background-repeat: no-repeat;

  overflow: hidden;
}

.glow {
  background-image: url("./box/glow-01.png");
  background-repeat: no-repeat;
  background-size: $box-size;

  left: -1000px;
  top: -1000px;
}

.gliph {
  background-image: url("./box/gliph.png");
  background-repeat: no-repeat;
}

.center {
  position: absolute;

  height: $button-size;
  width: $button-size;

  top: 50%;
  left: 50%;

  margin-left: -$button-size/2;
  margin-top: -$button-size/2;
  outline: none;

  &:active {
    background-image: url("./box/button-pressed.png");
  }
}

.box-placeholder > .center {
  background-image: url("./box/center.png");
}

.corner-spot {
  position: absolute;

  height: $corner-spot-size;
  width: $corner-spot-size;

  border-radius: 100%;

  outline: none;

  background-position: center;

  &.top-right {
    right: 36px;
    top: 36px;
  }

  &.top-left {
    left: 36px;
    top: 36px;
  }

  &.bottom-right {
    right: 36px;
    bottom: 36px;
  }

  &.bottom-left {
    left: 36px;
    bottom: 36px;
  }

  &.clickable {
    background-image: url("./box/corner-spot-dormant.png");
  }

  &.clicked {
    background-image: url("./box/corner-spot-active.png");
  }
}

.corner {
  position: absolute;

  height: $corner-size;
  width: $corner-size;

  &.top-right {
    right: -60px;
    top: -60px;

    background-image: url("./box/corner-top-right.png");
  }

  &.top-left {
    left: -60px;
    top: -60px;

    background-image: url("./box/corner-top-left.png");
  }

  &.bottom-right {
    right: -60px;
    bottom: -60px;

    background-image: url("./box/corner-bottom-right.png");
  }

  &.bottom-left {
    left: -60px;
    bottom: -60px;

    background-image: url("./box/corner-bottom-left.png");
  }
}

.seed {
  position: absolute;

  height: $seed-size;
  width: $seed-size;

  border: 1px solid black;
  background-color: #F5FBA4;

  &.clicked {
    display: none;
  }

  &.top,
  &.bottom {
    left: 50%;
    margin-left: -$seed-size/2;
  }

  &.left,
  &.right {
    top: 50%;
    margin-top: -$seed-size/2;
  }

  &.top {
    top: -14px;
  }

  &.bottom {
    bottom: -14px;
  }

  &.left {
    left: -14px;
  }

  &.right {
    right: -14px;
  }
}

.inventory {
  position: absolute;

  bottom: 30px;
  left: 50%;
  margin-left: - $box-size/2;

  width: $box-size;

  display: flex;

  > * {
    height: $item-size;
    width: $item-size;
  }
}
